body{
  font: arial,helvetica,sans-serif;
  background-color: white;
  width: 90%;
  margin:0 auto;
  padding: 10px;


}
.banner{
  background-image:url('../images/mm.jpg');
  background-position:center center;
  -webkit-background-size:cover;
  height: 100vh
}
h1{
  text-align: center;
  text-decoration:rgb(36, 7, 131) ;
  text-align: center;
  background-color:rgb(223, 221, 221);
  border-radius: 10px;
  padding: 15px;
}
header{
  padding: 15px 60px;

}
a.prev,a.next{
  height: 91px;
  position: absolute;
  width:43px;
  top: 50%;
  margin-top: -30px;
  opacity: 3.7px;
  text-indent: -99999px;
  cursor: pointer;
  transition: opacity 200ms ease-out;

}
a.prev:hover,a.next:hover{opacity:1;

}

  .slider{
    height: 100vh;
    position:relative;
  }

.slide{
  position: absolute;
  height: 100%;
  width: 100%;

}

.slider.slide:target{
  z-index: 100;
}




/*
img{
  max-width: 100%;
  width: 100%;
  position: fixed;
  left:0;
}
*/
.prev{
  left:0;
  background: #000 url('../images/m.jpg') no-repeat -200px 25px;
}

.next{
  right:0;
  background: #000 url('../images/b.jpg') no-repeat -159px 25px;
}




.items{width: 50%;
  float: right;
  list-style: none;


}
.items li{
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  float: left;
    display: inline-block;
    padding-bottom: 1px;

}
.items li:hover{
  background: #7df6fb;
}
.items li :hover a
{
background: #7df6fb;

}
.items li a{
text-decoration: none;
font-family: arial;
color: #ffffff;
text-decoration: uppercase;
}
.logo{
  text-decoration: none;
  color: #7f9daa;
  font-family: times;
  padding: 15px;
  float:left;
  background: none;
  position: fixed;

}
.logo:hover{
  text-decoration: none;
  border:1px solid white;
  font-size: 17px;
  color: white;
  display: inline-block;
  font-family: times;
  text-transform:uppercase;
}
.banner-text{
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
  text-transform: uppercase;


}
.banner-text h2{
  font-size: 40px;
  margin:0;
  font-style: oblique;
  text-transform: uppercase;
  font-family:serif;
  color:#white;
  padding-top: 50px;

}
.banner-text p{
  font-size: 20px;
  margin: 0;
  font-family: serif;
  color: #f2fdfd;
  padding-top: 170px;
  text-shadow: bold;

}
.banner-text a{
  text-decoration: none;
  border:1px solid white;
  font-size: 17px;
  padding:10px 35px;
  color: white;
  display: inline-block;
  margin-top: 5%;
  font-family: times;
  text-transform:uppercase;
}
.banner-text a:hover{
  border-color: pink;
  background-color: white;
  transition:.9s;
  color:#262626;
}




/* Global */
.container{
  width:80%;
  margin: auto;
  overflow: hidden;
}
#main-col h4{
  background-color: #b1b7e2;
  text-align: center;

}

h4{
  float:20px;
}
.dark{
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top:10px;
  margin-bottom: 30px;
  float: left;

}

/* sidebar */
aside#Sidebar{
  float: left;
  width: 30%;
  margin-top: 10px;
}
aside#sidebar .quote input, aside#sidebar .quote textarea{
  width: 90%;
  padding: 5px;
}

/* main-col */
article#main-col{
  float: left;
  width: 65%;
  text-align: left;
}

.boxx,h5{
  box-sizing:border;
  background-color:#ccc;
}

.boxx h5{
  float: left;
  width: 25%;
  margin-left: 200px;



}





























/*responsive css*/
@media all and (max-width: 769px;)
{.slicknav_menu{display: block;
width: 40px;
float:right;
background: red;

}

.menu{
  display: none;
}
.slicknav_btn{
  margin: 10px 5px 6px;
  text-decoration:  none;
  border-radius: 5px;
  background-color: red;

}
}
p{
  font-family: arial;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
}


#container{
width: 80%;
margin: 0 auto;



 }
.t1{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 14px;
    border-width: 50%;
    font-weight: bold;
      border-bottom: #bbbbbb 3px solid;
      border-top:  #bbbbbb 3px solid;
      background-image: linear-gradient(#4dc9ff,white),radial-gradient(circle at top left,#bbbbbb,#19d7f8);
      background-origin: border-box;
      background-clip: content-box,border-box;
    }
  .t1 h3{
    background-color:
    font: arial;
    font
  }

#navigation{
  width: 80%;
  margin: 0 auto;
  background:

}
  .t1 ul{
    list-style: none;
    text-align: center;
  }
  .t1 ul li a{
    color: grey;
  }
  .t1 li{
    display: inline-block;
    font-weight: 900;

  }
  .t1 a{
    text-decoration: none;
    width: 100px;
    display: block;
    padding: 20px;
  }

  .t1 ul li:hover a{
    background-color:white;

  }
#container #top nav ul li a{
  color: white;
}
#container #top nav ul li a fas{
  width: 100px;
}


#container #top ul li:hover a{
  background-color:black;

}





#Home{
  height: 700px;
  background:white;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#about{
  height: 700px;
  background: white;
  display: inline-block;
  width: 100%;  text-align: center;
}

#services{
  height: 700px;
  background: white;
  display: inline-block;
  width: 100%;  text-align: center;
}
#Email{
  height: 625px;
  display: inline-block;
  width: 100%;  text-align: center;
background-image: url('../images/bb.jpg');
background-position:center center;
-webkit-background-size:cover;
height: 120vh;

}









#social{width:50px;
  margin:50%;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom:auto;
  text-align: center;

}

 #social a{
  background-color: white;
  line-height: 20px;
  margin: 0 5px;
  color: black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-left: 25%;
  display: inline-block;
}
    #social :hover a{
      background-color:red;
}
#social  :hover a{
  background-color:black;
}
#social{
  background-color: #4dc9ff;
  width: 50%;
  margin: 0 auto;
}
div#photo{

  margin-left: -12%;
  margin-right: inherit;
padding: 20px;
}

#footer{
    text-align: center;
    text-decoration:rgb(36, 7, 131) ;
    text-align: center;
    background-color:rgb(223, 221, 221);
    border-radius: 10px;
    padding: 15px;
  }






/*contact us*/



/*input[type=text], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  opacity: 0.9;
}
*/
input[type=submit] {
  background-color: #4CAF50;
  color: #e2e2e2;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

input[type=submit]:hover {
  background-color: black;
}
input,option,textarea,span{
  background: #e2e2e2;
}

.container {
  border-radius: 5px;
  padding: 20px;
  opacity: 01;
  background-image: url('../images/is.png');
}


 label,span{
background-color: white;
text-decoration:  none;
}




/*contact us*/
.form-control{
  width:5
  0%;
  padding:10px 5px;
  margin:8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(173, 216, 230);
}
.infotable td{
  text-align:center;
  width: 50%;
}
.infotable{
  border-collapse: collapse;
  width: 40%;
  float: left;
}
